*, *:before, 
*:after 
{     margin: 0;     
	 padding: 0;     
	 -moz-box-sizing: border-box;     
	 -webkit-box-sizing: border-box;     
	 box-sizing: border-box; 
}
/*Styles are organized first by order of hierarchy, and then by alphabetical order*/
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Courgette);

body{
	background-color: #eeeeee;
	font-family: 'questrial', sans-serif;
}
main{
	padding: 3em;
}

h1{
	font-weight: bolder;
	text-align: center;
}

h2{
	text-align: center;
}

section#splash{
	background-image: url("images/laptop.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: block;
	text-align: center;
}	

section#splash div{
	vertical-align: middle;
	padding: 8em;
}

nav#sidebar{
	margin:0;
	padding:0;
	width:200px;
}
nav#sidebar a{
	color: #000000;
	display:block;
	text-decoration: none;
	float:left;
	padding: 2em;
}
nav a:hover{
	background-color: #aaaaaa;

}

footer{
	color: #000000;
	text-align: center;
	text-decoration: none;
}


#title{
	color: #81D3FF;
	font-size: 4em;
	font-family: 'Quicksand', sans-serif;
}

#slogan{
	color: white;
	font-size: 2em;
	font-weight: 900;
}

#welcome{
	color: white;
	font-size: 1.5em;
	font-family: 'Courgette','Cedarville Cursive', cursive;
	padding:1.5em;
}
#about{
	padding: 20px;
	margin: 0 10px;
	width: 600px;
	background-color: #aaaaaa;

}

#contact a{
	color: #000000;
	text-decoration: none;
}

.feel{
	float: left;
	padding: 20px;
	margin: 0 10px;
	width: 300px;
	background-color: #aaaaaa;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

