*, *:before, 
*:after 
{     margin: 0;     
	 padding: 0;     
	 -moz-box-sizing: border-box;     
	 -webkit-box-sizing: border-box;     
	 box-sizing: border-box; 
}
/*Styles are organized first by order of hierarchy, and then by alphabetical order*/
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Courgette);

body{
	background-color: #eeeeee;
	font-family: 'questrial', sans-serif;
}
main{
	float: right;
	width: 75%;
}

h1{
	font-weight: 900px;
	text-align: center;
	font-size: 200%;
}

h2{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-top: 5%;
}

p{
	font-size: 18px;
}

ul{
	display: inline-block;
	font-size: 20px;
	list-style-type: none;
}
section#splash{
	background-image: url("images/laptop.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: block;
	text-align: center;
}	

section#splash div{
	vertical-align: middle;
	padding: 8em;
}

nav#sidebar{
	float:left;
	width:20%;
	position: fixed;
	top: 0;
	bottom: 0;

}
nav#sidebar a{
	color: #000000;
	display: block;
	font-size: 18px;
	text-decoration: none;
	padding: 10%;

}
nav a:hover{
	background-color: #aaaaaa;
	box-shadow: 4px 7px 13px -5px rgba(0,0,0,0.62);

}


footer{
	color: #000000;
	text-align: center;
	text-decoration: none;
}


#title{
	color: #81D3FF;
	font-size: 4em;
	font-family: 'Quicksand', sans-serif;
}

#slogan{
	color: white;
	font-size: 2em;
	font-weight: 900;
}

#welcome{
	color: white;
	font-size: 1.5em;
	font-family: 'Courgette','Cedarville Cursive', cursive;
	padding:1.5em;
}

#brand-guide{
	padding: 0% 5% 10% 5%;
	text-align: justify;
	width: 75%;

}

#about{
	background-color: #24A6CA; 
	box-shadow: 2px 7px 18px -1px rgba(0,0,0,0.75);
	
}
#about p{
	padding: 0% 5% 5% 5%; 

}

#voice-tone{
	padding: 0% 5% 10% 5%;
	text-align: justify;
	width: 78%;
}

#voice{
	box-shadow: 2px 7px 18px -1px rgba(0,0,0,0.75);
	padding: 35px 20px 35px 20px;
} 

#tone{
	box-shadow: 2px 7px 18px -1px rgba(0,0,0,0.75);
}


#style-elements{
	padding: 0% 5% 10% 5%;
	width: 80%;
	text-decoration: none;
}


#contact a{
	color: #000000;
	text-decoration: none;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.logo{
	width: 90%;
	padding: 5%;
}
.circle{
	width:20%;
	margin-left: 4%;
}

.picture{
	width:80%;
}

.feel{
	float: left;
	margin: 2%;
	width: 40%;
	padding: 3%;
	background-color: #24A6CA;
}

.questrial{
	font-family: 'Questrial', sans-serif;
	text-align: justify
}

.quicksand{
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
}

